/* CSS RESET */
*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}
:root {
	--primary-text-clr: #222831;
	--primary-clr: #424874;
	--pimary-bg: #f6f6f6;
	--secondary-clr: #ffc7c7;
	--secondary-bg: #ffe2e2;
}
body {
	color: var(--primary-text-clr);
}

.container {
	max-width: 1200px;
	margin-inline: auto;
	background-color: var(--pimary-bg);
	max-width: 100vw;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.weather-card {
	width: 100%;
	flex-shrink: 0;
	max-width: 800px;
	display: flex;
}
.weather-card .wrapper {
	height: 100%;
	width: 100%;
}
.weather-card-media {
	padding: 14px;
	border-radius: 10px;
	background: url(../assets/cloud-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	color: white;
	background-attachment: fixed;
}
.top-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}
.top-content > a {
	font-size: 16px;
	color: var(--pimary-bg);
}
.current-location {
	display: flex;
	align-items: center;
	gap: 8px;
}
.current-location-text h2 {
	font-size: 14px;
}
.current-location-text p {
	font-size: 10px;
	line-height: 10px;
}
.current-location img {
	height: 20px;
}
.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
}
.main-content h3 {
	text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.weather-card-detail {
	padding: 14px;
}
.weather-card-detail > h2 {
	font-size: 30px;
}
.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.256);
	padding: 4px 8px;
	border-radius: 4px;
	max-width: 90vw;
}
.search-form input {
	height: 24px;
	background-color: transparent !important;
	outline: none;
	border: none;
	width: 240px;
	max-width: 87vw;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	color: var(--pimary-bg);
	font-size: 24px;
	padding: 6px 12px;
}
::placeholder,
::-ms-input-placeholder {
	color: green;
	opacity: 1;
}

.search-form input:active,
.search-form input:hover,
.search-form input:taget,
.search-form input:-internal-autofill-selected {
	background-color: transparent;
	outline: none;
	border: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	color: var(--pimary-bg);
}
.search-form button {
	background-color: transparent;
	border: none;
}
.search-form img {
	height: 28px;
	cursor: pointer;
}
.weather-card-detail {
	border-radius: 10px 10px 0px 0px;
	background-color: var(--pimary-bg);
	margin-top: -1rem;
}
.weather-main-detail {
}

.highlight-card {
	display: flex;
	max-height: fit-content;
	align-items: center;
	justify-content: space-evenly;
	padding: 14px;
	flex-direction: column;
	border-radius: 5px;
	min-height: 240px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 200px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	background-color: rgba(71, 71, 71, 0.021);
	margin-bottom: 2rem;
}
.highlight-card hr {
	height: 180px;
	max-height: 80%;
	max-width: 3px;
	flex-shrink: 0;
	flex-grow: 1;
	border: none;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.073);
}
.left-set {
	width: 100%;
}

.left-set h3 {
	font-size: 60px;
	font-weight: 500;
}
.left-set > div {
	display: flex;
	align-items: flex-end;
}

#weather-word-condition {
	font-size: 26px;
	font-weight: 300;
}
#weather-icon-condition {
	/* width: 100px; */
	width: 40px;
	margin-left: 10px;
}

.right-set {
	gap: 5px 40px;
	color: rgba(71, 71, 71, 0.696);
}
.right-set dl {
	display: flex;
}

.extra-detail {
	margin-inline: auto;
	min-width: 90%;
}
